---
import Footer from "~/components/footer.astro";
import FarmImage from "~/components/farm-image.astro";
import RSVPFormComponent from "~/components/rsvp-form.astro";
import Contrainer from "~/components/container.astro";
import { extractRSVPEmail } from "~/cookies";
import {
  birthday_date,
  birthday_directions_apple,
  birthday_directions_google,
  brithday_address_casusal,
} from "~/data";
import { RSVPDB } from "~/schema";
import { getRSVPByEmail } from "~/supabase";

try {
  const email = extractRSVPEmail(Astro.request);
  const _ = (await getRSVPByEmail(email)).data as RSVPDB;
  if (_) {
    console.log(`RSVP for Email ${email} found, redirecting to RSVP page`);
    return Astro.redirect(`/rsvp/${email}`, 303);
  } else if (email) {
    console.log(`RSVP For ${email} not found, redirecting to RSVP page`);
  }
} catch (error) {
  console.error(error);
}
---

<Contrainer>
  <div class="flex-grow pb-24 sm:pb-32">
    <div class="container mx-auto px-4 py-6">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h1 class="text-4xl text-center text-green-600 font-bold mb-4">
          Ayalah’s Barn Party
        </h1>
        <p class="text-xl text-center mb-4">{birthday_date}</p>
        <div class="text-center my-3">
          <a
            href="#rsvpForm"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mb-2 self-center"
            >RSVP Now</a
          >
        </div>
        <div class="my-4 mx-auto max-w-md md:max-w-lg lg:max-w-xl">
          <FarmImage />
        </div>
        <div class="mb-8">
          <p class="text-lg text-center mt-2">
            Potluck farm style celebration with a casual dress code.
          </p>
          <p class="text-lg text-center mt-2">
            Appreciate potluck contributions, but not required.
          </p>
          <p class="text-lg text-center mt-2">
            Appreciate any games to play indoors!
          </p>
        </div>
        <p class="text-xl text-center mb-8">
          {brithday_address_casusal}
        </p>
        <div class="text-center mb-4">
          <a
            href={birthday_directions_google}
            class="inline-block bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            target="_blank"
          >
            Google Maps
          </a>
          <a
            href={birthday_directions_apple}
            class="inline-block bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-4"
            target="_blank"
          >
            Apple Maps
          </a>
        </div>
        <RSVPFormComponent />
      </div>
    </div>
    <Footer />
  </div>
</Contrainer>
